<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nazmusashrafi.multi_timer_2_master">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".RunPageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BuildScreenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoadBuildScreenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoadRunPageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoggedInTotalDashboardActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>